h1.title {
	font-size: 60px;
	font-weight: bold;
	margin: 0;
	display: block;
	float: left;
}
@media screen and (max-width:520px) {
	h1.title {
		font-size: 24px;
		margin-top: 15px;
	}
}
.tile .tile-inner {
  font-size: 22px;
}
@media screen and (max-width:520px) {
  .tile.tile-2 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-4 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-8 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-16 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-32 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-64 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-128 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-256 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-512 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-1024 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-2048 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-super .tile-inner {
    font-size: 12px;
  }
}