/* Colors */
html, body {
  background: #ffffff;
  color: #6e3b25;
}
.game-container .game-message a {
  background: #171c61;
}
.restart-button {
  background: #171c61;
}
.score-container, .best-container {
  background: #5d63ad;
}
.score-container:after, .best-container:after {
  color: #ffffff;
}
.tile.tile-1 .tile-investment {
  background: #44487f;
}
.tile.tile-1 .tile-mistake {
  background: #a17fc7;
}
.tile.tile-0 .tile-inner {
  background: #6e3b25;
}

./*game-container {
  background: #8991ff;
}*/
@/*media screen and (max-width:520px) {
  .game-container {
    background: #8991ff;
  }
}*/

/* Fonts */
h1.title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left;
}
@media screen and (max-width:520px) {
  h1.title {
    font-size: 24px;
    margin-top: 15px;
  }
  .score-container, .best-container {
    font-size: 21px;
  }
}
.tile .tile-inner {
  font-size: 22px;
}
@media screen and (max-width:520px) {
  .tile.tile-2 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-4 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-8 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-16 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-32 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-64 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-128 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-256 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-512 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-1024 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-2048 .tile-inner {
    font-size: 12px;
  }
}
@media screen and (max-width:520px) {
  .tile.tile-super .tile-inner {
    font-size: 12px;
  }
}
hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 12px;
  margin-bottom: 4px;
}